a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    background-color: rgb(0, 214, 179);
    text-align: center;
}

/* to fix */
td, th{
    border: 1px solid black;
    text-align: left;
    vertical-align: center;
}

/* to fix; currently always at bottom of screen and visible */
.bottom {
    bottom: 0%;
    position: fixed;    /* change this line */
}

.left {
    left: 0%;
    position: fixed;
}

table {
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}

#searchbtn {
    cursor: pointer;
}

.smallP {
    text-align: left;
    width: 25%;
    height: 20%;
    overflow: auto;
    /*float: right;*/
}